




<style>

table{
    color: rgb(9, 19, 9); background-color: rgb(161, 145, 161);
}

h1,table{
    color: rgb(13, 13, 69); background-color: rgb(181, 151, 32);
}

 pre{
    color: rgb(96, 242, 193); background-color: rgb(92, 43, 139);
}

p{
    color: rgb(56, 56, 10); background-color: rgba(13, 136, 136, 0.438);
}

</style>






